
body {
	font-family: 'Quicksand', sans-serif;
	text-align: center;
	background: #CBA8A8;
}

.ludzik {
    height: 250px;
    width: 250px;
    border-radius: 50%;
}



.circle {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background-color: rgba(118, 85, 85, 0.8);
    left: 500px;
    top: 300px;
 }

 .osa {
 	height: 250px;
    width: 250px;

 }

.nagroda {
	height:400px;
	width: 400px;
	align-items: center;

}